Source: sphinx-autobuild
Section: python
Priority: optional
Maintainer: David Kunz <david.kunz@dknet.ch>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 flit,
 pybuild-plugin-pyproject,
 python3-all,
 python3-setuptools,
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/GaretJax/sphinx-autobuild
Vcs-Browser: https://salsa.debian.org/david.kunz/sphinx-autobuild
Vcs-Git: https://salsa.debian.org/david.kunz/sphinx-autobuild.git

Package: python3-sphinx-autobuild
Section: python
Architecture: all
Depends:
 python3-livereload,
 ${misc:Depends},
 ${python3:Depends},
Enhances:
 python3-sphinx,
Description: Automatically rebuild Sphinx documentation
 Sphinx autobuild watches a Sphinx directory and rebuild the documentation when
 a change is detected. Also includes a livereload enabled web server.
